@model AdminRequest

<h2>Edit Request</h2>

<p>Change solved status for request ID @Model.Id ?</p>


<form asp-action="MarkAsSolved" asp-route-id="@Model.Id" method="post">
    <button type="submit">Confirm</button>
</form>
